* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
body {
    margin: 0;
    background-color: #1B3659;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    
}
.container {
    width: auto;
    margin: 0;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 120px auto 60px;
    grid-template-areas:
      "nav   nav      nav"
      "subnav  content  content"
      "footer   footer   footer";
}
.navbar, .nav-part {
    grid-area: nav;
    box-shadow: 5px 5px 5px black; 
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #26140D;
    background-image: url("../img/background.jpg");
    background-blend-mode: darken;

}
.content {
    background-color: #444444;
    grid-area: content;
    border-radius: 20px;
}
.main-box {
    color: black;
    background-color:  #26140D;
    background-image: url("../img/background.jpg");
    background-blend-mode: darken;
    border: 5px solid #26140D;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #26140D;
    
    
}
.main {
    padding-top: 20px;
}
.add-box, .blog-box {
    padding: 20px;
    background-color: #D9A689;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "text   image";


}
.blog-input, .name-input, .post-button, .image-input {
    margin: 10px;
    border: none;
    border-radius: 10px;
    grid-area: text;
    color: black;
}
.name-input, .image-input {
    color: black;
}
.post-button {
    padding: 5px 10px;
    box-shadow: #1B3659;
}
.message {
    color: black;
    padding-left: 20px;
}
.message-name {
    color: black;
    font-weight: bold;
}
.error-box {
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 10px;
}
.comment-input {
    border: none;
    background-color: #D9A689;
    padding-left: 40px;
}
.comment-input:focus {
    outline: none;
}
.message-text-box {
    padding: 10px;
    border-bottom: 2px solid #444444;
    
}
.date {
    font-size: 12px;
    color: #444444;
}
.header-text {
    font-size: 20px;
    color: black;
}
.nav-text {
    text-decoration: none;
    color: black;
    margin: 20px 0;
}
::placeholder {
    color: #444444;
}
.nav-border {
    margin: 5px 40px;
}
.nav-text:hover {
    transition: 200ms;
    border-left: 2px solid white;
    border-right: 2px solid white;
} 
.error {
    color: red;
}
.small-button {
    size: 50%px;
}
.link {
    color: black;
    margin: 20px 0;
}
.nav-header {
    margin: auto 0;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}